@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: 'Poiret One', cursive;
    background: conic-gradient(from .5turn at bottom center, lightblue, white);
  }
  
  .container {
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #cal {
    width: 30%;
    padding: 1%;
    border-radius: 2%;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.281);
  }
  
  #buttons {
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    outline: none;
  }
  
  #upperDisplay, #lowerDisplay {
    background-color: #6d5e5e17;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: right;
    direction: ltr;
    font-size: 40px;
    margin-bottom: 10px;
  }
  





 @media(max-width: 768px){
  #cal{
    width: 50%;
  }

 }


 @media(max-width: 480px){
  #cal{
    width: 90%;
  }
  #left{
    margin-left: 30px;
  }
 }
  
